.first-Section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 7.8125rem  /* 125/16 */ 0 2.8125rem  /* 45/16 */;
}

.first-Section > div {
    width: 30%;
}

.leftSection {
    width: 2.125rem  /* 34/16 */;
    font-size: 2.5rem;
}

.leftSection .buttons {
    padding: 0.9375rem  /* 15/16 */ 0;
}

.leftSection .btn {
    padding: 0.75rem  /* 12/16 */;
    background-color: #1e2167;
    color: white;
    border: 0.0625rem  /* 1/16 */ solid rgba(157, 157, 157, 0.4);
    border-radius: 0.375rem  /* 6/16 */;
    font-size: 1.25rem  /* 20/16 */;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.leftSection .btn:hover {
    background-color: #5053ab;
    border: 0.0625rem  /* 1/16 */ solid white;
}

.btn-link {
    text-decoration: none;
    color: white;
}

.rightSection img {
    width: 80%;
    margin: 3.125rem  /* 50/16 */;
    border-radius: 50%;
    border: 0.0625rem  /* 1/16 */ solid rgba(204, 204, 204, 0.3);
}

.purple {
    color: rgb(173, 38, 173);
}

.text-gray {
    color: grey;
}

#element {
    color: rgb(173, 38, 173);
}